@model ListModel<Game>
@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@ViewData["currentCategory"]</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-controller="Game" asp-route-category=@null>Все</a>
            </li>
            @foreach (var item in ViewBag.Categories) {
                <li>
                    <a class="dropdown-item" asp-controller="Game" asp-route-category="@item.NormalizedName">@item.Name</a>
                </li>
            }
        </ul>
        </li>
    </ul>
</div>

@{
    string? category = request.Query["category"].ToString();
    category = (string?)ViewData["currentCategoryShortName"];
}

<div id="game-list">
    @await Html.PartialAsync("_GameListPartial", Model)
</div>




